

.header-section {
    position:relative;
    display:flex;
    justify-content: center;
    img {
        border: 10px solid rgb(82, 13, 82);
        border-top:none;
        justify-content: center;
        height: 500px;
        width: 70%;
        max-width: 100%;
        @media @500px {
            width: 90%;
            height: 300px;
        }
    }
    .intro {
        position: absolute;
        margin-top: 100px;
        width: 40%;
        font-size: 2.5rem;
        color: black;
            @media @500px {
                margin-top: 40px;
                width: 65%;
                font-size: 1.6rem;
            }
            
        }
    }

  .btn-container{
    display: flex;
    .btn {
        border: 2px inset rgb(184, 84, 184);
        text-decoration: none;
        font-size: 1.2rem;
        text-align: center;
        margin: 20px;
        background-color: rgb(82, 13, 82);
        width: 40%;
        padding:20px;
        border-radius: 45%;
        a {
            text-decoration: none;
            color: white;
        }
        @media @500px {
            font-size: .7rem;
            margin: 13px 30px 15px 30px;
            width: 28%;
            padding: 10px;
        }
    }
  }