

.header-section {
    position:relative;
    display:flex;
    justify-content: center;
    img {
        justify-content: center;
        margin-top: 110px;
        height: 500px;
        width: 70%;
        max-width: 100%;
    }
    .intro {
        position: absolute;
        margin-top: 200px;
        width: 30%;
        font-size: 1.5rem;
        @media @mobile {
            width: 50%;
            font-size: 1rem
        }
        
    }

  }

  .btn-container{
    display: flex;
.btn {
    font-size: 1.2rem;
    margin: 20px;
    background-color: greenyellow;
    width: 20%;
}
}