* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.test {
  border: 2px solid red;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.head_container {
  width: 100%;
  height: 100px;
  background-color: #520d52;
  display: flex;
  justify-items: center;
  align-items: center;
}
@media (max-width:500px) {
  .head_container {
    max-width: 500px;
  }
}
.logo_container {
  display: flex;
  width: 500px;
  margin-right: 500px;
}
@media (max-width:500px) {
  .logo_container {
    width: 200px;
    margin-right: 150px;
  }
}
.logo_container img {
  align-self: flex-start;
  max-width: 100%;
  height: 100px;
}
.nav_container {
  display: flex;
  justify-content: flex-end;
  width: 500px;
  padding-right: 20px;
}
@media (max-width:500px) {
  .nav_container {
    width: 150px;
  }
}
.nav_container nav a {
  margin-left: 20px;
  font-size: 2rem;
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width:500px) {
  .nav_container nav a {
    width: 450px;
  }
}
.header-section {
  position: relative;
  display: flex;
  justify-content: center;
}
.header-section img {
  border: 10px solid #520d52;
  border-top: none;
  justify-content: center;
  height: 500px;
  width: 70%;
  max-width: 100%;
}
@media (max-width:500px) {
  .header-section img {
    height: 300px;
  }
}
.header-section .intro {
  position: absolute;
  margin-top: 100px;
  width: 40%;
  font-size: 1.5rem;
  color: black;
}
@media (max-width:500px) {
  .header-section .intro {
    margin-top: 80px;
    width: 50%;
    font-size: 1rem;
  }
}
.btn-container {
  display: flex;
}
.btn-container .btn {
  border: 2px inset #b854b8;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  margin: 20px;
  background-color: #520d52;
  width: 40%;
  padding: 20px;
  border-radius: 45%;
}
.btn-container .btn a {
  text-decoration: none;
  color: white;
}
@media (max-width:500px) {
  .btn-container .btn {
    font-size: 0.7rem;
    margin: 15px;
    width: 28%;
    padding: 10px;
  }
}
.tabs-heading {
  color: yellow;
  font-size: 3rem;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.tabs {
  width: 50%;
  margin-left: 350px;
}
@media (max-width:500px) {
  .tabs {
    margin-left: 50px;
    width: 80%;
  }
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}
.tabs .tabs-item {
  display: none;
  width: 100%;
  background-color: greenyellow;
  padding: 40px 20px 0 20px;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
}
.tabs .tabs-item-selected {
  display: block;
  background-image: url('../images/header_image.jpg');
  background-repeat: none;
  background-size: 750px 300px;
}
.tabs-links {
  display: flex;
  background-color: #520d52;
}
.tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: #520d52;
  border-right: 1px solid black;
  color: white;
  cursor: pointer;
}
.tabs-link:hover {
  background-color: green;
}
.tabs-link-selected {
  z-index: 2;
  border-right: 1px solid greenyellow;
  background-color: #e7ebf7;
  color: black;
}
.tabs-link-selected:hover {
  background-color: white;
}
.tabs-item-description {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
footer {
  background-color: white;
  padding: 40px;
  margin-top: 30px;
  text-align: center;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
body .page_container {
  background-image: url('../images/bg_image.jpg');
}
@media (max-width:500px) {
  body .page_container {
    background-image: url('../images/mobile_bg.jpg');
  }
}
