* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.nav_container {
  width: 100%;
  position: absolute;
  top: 10px;
  height: 100px;
  background-color: black;
  display: flex;
  justify-items: center;
  align-items: center;
}
.nav_container img {
  max-width: 100%;
  height: 100px;
}
.nav_container nav {
  margin-left: 600px;
  justify-content: space-evenly;
}
@media (max-width:500px) {
  .nav_container nav {
    margin-left: 200px;
  }
}
.nav_container nav a {
  margin-right: 20px;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width:500px) {
  .nav_container nav a {
    font-size: 1.1rem;
  }
}
.header-section {
  position: relative;
  display: flex;
  justify-content: center;
}
.header-section img {
  justify-content: center;
  margin-top: 110px;
  height: 500px;
  width: 70%;
  max-width: 100%;
}
.header-section .intro {
  position: absolute;
  margin-top: 200px;
  width: 30%;
  font-size: 1.5rem;
}
@media (max-width:500px) {
  .header-section .intro {
    width: 50%;
    font-size: 1rem;
  }
}
.btn-container {
  display: flex;
}
.btn-container .btn {
  font-size: 1.2rem;
  margin: 20px;
  background-color: greenyellow;
  width: 20%;
}
.tabs-heading {
  color: yellow;
  font-size: 3rem;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.tabs {
  margin-left: 650px;
}
@media (max-width:500px) {
  .tabs {
    margin-left: 80px;
  }
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  width: 85%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  background-color: white;
  width: 15%;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: greenyellow;
  border-right: 1px solid black;
  color: black;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: green;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid greenyellow;
  background-color: blue;
  color: purple;
}
.tabs .tabs-link-selected:hover {
  background-color: black;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
body .page_container {
  background-image: url('../images/bg_image.jpg');
}
@media (max-width:500px) {
  body .page_container {
    background-image: url('../images/mobile_bg.jpg');
  }
}
