header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid@border;

    .top-btns {
        width: 18%;
        display: flex;
        margin-right: 2%;

        button {
            .button-creator(4%);
        }
    }

    nav {
        padding-top: 10px;
        
        a {
            margin-left: 61px;
            font-size: 2rem;
            text-decoration: none;
            color: black;
            font-family: @main-font;
            }
      }
}
