.top-content {
    display: flex;
    flex-direction: row-reverse;

    .top-img {
        width: 93%;
        padding: 21px;
        }

    h2 {
        margin-left: 24%
    }

    .top-txt {
        padding: 133px 0px 0 46px;
        line-height: 43px;
    }

    button {
        display: block;
        margin: 0 auto;
        margin-top: 15px;
        .button-creator(32%);        }
    }


    
     

// .features {
// display: flex;

// .feat-one {
// justify-content: center;
// }





