
            //Button Creation
.button-creator(@margin) {
    border-radius: 4px;
    height: 39px;
    width: 45%;
    margin-right:@margin;
    font-family: @main-font;
    font-size: 1.6rem;
    border: 1px solid#242424;
    color: white;
    cursor: pointer;
    background-color: @btn-color;

    &:hover {
        background: white;
        color: @btn-color;
        }
}

    //Alignment of feature content

    .alignment-basic() {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .alignmet-row(){
        display: flex;
        flex-direction: row;
    }

    .alignment-rev() {
        display: flex;
        flex-direction: row-reverse;
    }

    .line-height() {
        line-height: 27px;
    }
