
// Colors
@white: #FFFFFF;
@black: #212529;
@darkpurple: #520D52;
@grey: #E7EBF7;

// Color assignments 
@font-color: @black;
@main-color: @darkpurple;
@main-bg:  @white;
@footer-bg: @grey;




@500px: ~"(max-width:500px)";
@494px: ~"(max-width:494px)";
@486px: ~"(max-width:486px)";
@467px: ~"(max-width:467px)";
@456px: ~"(max-width:456px)";
@452px: ~"(max-width:452px)";
@448px: ~"(max-width:448px)";
@447px: ~"(max-width:447px)";
@440px: ~"(max-width:440px)";
@437px: ~"(max-widh:437px)";
@430px: ~"(max-width:430px)";
@428px: ~"(max-width:428px)";
@400px: ~"(max-width:400px)";
@406px: ~"(max-width:406px)";
@387px: ~"(max-width:392px)";
@392px: ~"(max-width:392px)";
@384px: ~"(max-width:384px)";
@371px: ~"(max-width:371px)";
@354px: ~"(max-width:354px)";
@349px: ~"(max-width:349px)";




