.head_container {
    width: 100%;
    height: 100px;
    background-color:rgb(82, 13, 82);
    display:flex;
    justify-items: center;
    align-items: center;
    @media @mobile {
        max-width: 500px;
        
    }
    
}


.logo_container{
    
    display:flex;
    width: 500px;
    margin-right: 500px;
        @media @mobile {
      width: 200px;  
      margin-right: 150px;
    }
    img {
    align-self: flex-start;
    max-width: 100%;
    height: 100px;
        @media @mobile {
        
        }
    }
}


.nav_container{
    display:flex;
    justify-content: flex-end;
    width: 500px;
        @media @mobile {
        width: 150px;
        }
    nav {
       a {
        margin-left: 20px;
        font-size: 1.3rem;
        color: #FFFFFF;
        text-decoration: none;
        @media @mobile {
            width: 450px;
            

        }
       }
    }
}
